
.header{
    margin-top: 15px;
    margin-bottom: 15px;
}
.logo img{
    height: 50px;
}
.navigation{
    margin-top: 18px;
    margin-left: 65%;
}
.navigation a{
    margin-left: 30px;
    color: black;
    text-decoration: none;
}
.signup{
    padding: 5px 10px;
    border-radius: 15px;
}
.navigation a:hover{
    color: tomato;
}